<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head (title)">
        <title th:text="${title}"></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link th:href="@{/css/common.css}" rel="stylesheet" type="text/css" media="all" />
    </head>
    <body>
        <div th:fragment="header">
            <div class="row">
                <div class="col">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <a th:href="'/'" th:text="'Enrollment System'" class="navbar-brand"></a>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                    <a th:href="'/specialties.html'" th:text="Specialties" id="specialties" class="nav-link"></a>
                                </li>
                                <li class="nav-item">
                                    <a th:href="'/enrollees.html'" th:text="Enrollees" id="enrollees" class="nav-link"></a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <script th:src="@{/js/common.js}"></script>
            <script th:src="@{/js/jquery.min.js}"></script>
        </div>
        <div th:fragment="footer">com.vsu</div>
    </body>
</html>