<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="commons :: head(title='Enrollment System')"></head>
    <body onload="createTableOfEnrollees()">
        <div class="container">
            <div th:replace="commons :: header"></div>
            <div class="row">
                <div class="col"></div>
                <div class="col-10">
                    <div class="form-group">
                        <a th:href="'/enrollee.html'" th:text="'Add'" class="btn btn-primary"></a>
                    </div>
                </div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col-10">
                    <table class="table">
                        <thead>
                            <tr>
                                <th th:text="'Full name'" scope="col"></th>
                                <th th:text="'Passport ID'" scope="col"></th>
                                <th th:text="'Total mark'" scope="col"></th>
                                <th th:text="'Specialty'" scope="col"></th>
                                <th th:text="''" scope="col"></th>
                                <th th:text="''" scope="col"></th>
                            </tr>
                        </thead>
                        <tbody id="tableOfEnrollees"></tbody>
                    </table>
                </div>
                <div class="col"></div>
            </div>
            <div th:replace="commons :: footer"></div>
        </div>
    </body>
</html>
