<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="commons :: head(title='Enrollment System')"></head>
    <body onload="loadEnrollee()">
        <div class="container">
            <div th:replace="commons :: header"></div>
            <div class="row">
                <div class="col"></div>
                <div class="col-10">
                    <form>
                        <input type="hidden" id="id">
                        <div class="form-group">
                            <label th:text="'First name'" for="firstName"></label>
                            <input type="text" id="firstName" class="form-control" placeholder="Input first name...">
                        </div>
                        <div class="form-group">
                            <label th:text="'Last name'" for="lastName"></label>
                            <input type="text" id="lastName" class="form-control" placeholder="Input last name...">
                        </div>
                        <div class="form-group">
                            <label th:text="'Passport ID'" for="passportID"></label>
                            <input type="text" id="passportID" class="form-control" placeholder="Input passport ID...">
                        </div>
                        <div class="form-group">
                            <label th:text="'Total mark'" for="totalMark"></label>
                            <input type="text" id="totalMark" class="form-control" placeholder="Input total mark...">
                        </div>
                        <div class="form-group">
                            <label th:text="'Specialty'" for="specialty"></label>
                            <select id="specialty" class="form-control"></select>
                        </div>
                        <button th:text="Save" onclick="saveEnrollee()" class="btn btn-primary"></button>
                    </form>
                </div>
                <div class="col"></div>
            </div>
            <div th:replace="commons :: footer"></div>
        </div>
    </body>
</html>
