<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="commons :: head(title='Enrollment System')"></head>
    <body onload="loadSpecialty()">
        <div class="container">
            <div th:replace="commons :: header"></div>
            <div class="row">
                <div class="col"></div>
                <div class="col-10">
                    <form>
                        <input type="hidden" id="id">
                        <div class="form-group">
                            <label th:text="'Name'" for="name"></label>
                            <input type="text" id="name" class="form-control" placeholder="Input name...">
                        </div>
                        <div class="form-group">
                            <label th:text="Plane" for="plane"></label>
                            <input type="text" id="plane" class="form-control" placeholder="Input plane...">
                        </div>
                        <button th:text="Save" onclick="saveSpecialty()" class="btn btn-primary"></button>
                    </form>
                </div>
                <div class="col"></div>
            </div>
            <div th:replace="commons :: footer"></div>
        </div>
    </body>
</html>