<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="commons :: head(title='Dormitory System')"></head>
    <body onload="loadDormitory()">
        <div class="container">
            <div th:replace="commons :: header"></div>
            <div class="row">
                <div class="col"></div>
                <div class="col-10">
                    <form>
                        <input type="hidden" id="id">
                        <div class="form-group">
                            <label th:text="'Number'" for="number"></label>
                            <input type="text" id="number" class="form-control" placeholder="Input number...">
                        </div>
                        <button th:text="Save" onclick="saveDormitory()" class="btn btn-primary"></button>
                    </form>
                </div>
                <div class="col"></div>
            </div>
            <div th:replace="commons :: footer"></div>
        </div>
    </body>
</html>
