<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="commons :: head(title='Dormitory System')"></head>
    <body onload="createTableOfStudents(); createListOfPlaces()">
        <div class="container">
            <div th:replace="commons :: header"></div>
            <div class="row">
                <div class="col"></div>
                <div class="col">
                    
                </div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col-10">
                    <div class="form-group">
                        <a th:href="'/student.html'" th:text="'Add'" class="btn btn-primary"></a>
                    </div>
                </div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col-10">
                    <table class="table">
                        <thead>
                            <tr>
                                <th th:text="'Full name'" scope="col"></th>
                                <th th:text="'Student ID'" scope="col"></th>
                                <th th:text="'Dormitory number'" scope="col"></th>
                                <th th:text="''" scope="col"></th>
                                <th th:text="''" scope="col"></th>
                            </tr>
                        </thead>
                        <tbody id="tableOfStudents"></tbody>
                    </table>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <ul class="list-group" id="places">
                            <li class="list-group-item active" id="totalPlaces"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div th:replace="commons :: footer"></div>
        </div>
    </body>
</html>
