<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="commons :: head(title='Dormitory System')"></head>
    <body onload="loadStudent()">
        <div class="container">
            <div th:replace="commons :: header"></div>
            <div class="row">
                <div class="col"></div>
                <div class="col-10">
                    <form>
                        <input type="hidden" id="id">
                        <div class="form-group">
                            <label th:text="'First name'" for="firstName"></label>
                            <input type="text" id="firstName" class="form-control" placeholder="Input first name...">
                        </div>
                        <div class="form-group">
                            <label th:text="'Last name'" for="lastName"></label>
                            <input type="text" id="lastName" class="form-control" placeholder="Input last name...">
                        </div>
                        <div class="form-group">
                            <label th:text="'Student ID'" for="studentID"></label>
                            <input type="text" id="studentID" class="form-control" placeholder="Input student ID...">
                        </div>
                        <div class="form-group">
                            <label th:text="'Dormitory'" for="dormitory"></label>
                            <select id="dormitory" class="form-control"></select>
                        </div>
                        <button th:text="Save" onclick="saveStudent()" class="btn btn-primary"></button>
                    </form>
                </div>
                <div class="col"></div>
            </div>
            <div th:replace="commons :: footer"></div>
        </div>
    </body>
</html>
